/* 
* Style sheet for Mission Phoenix Theme
* Author Dan Watkins dan@kitson-consulting.co.uk
*/
@import 'config';

/* 
* ALL ORIENTATIONS 
*/
/* Folder and Desk */
body {
  background-image: url($polished-wood);
}
header .container, .front-page, .pages, .posts-page, .post  {
  background-image: url($manila-folder-1);
  border: $folder-border;
  padding: 0;
  overflow: hidden;
  position: relative;
}
header .container {
  z-index: 0;
}

/* FOLDER TABS AND CONTAINERS */
/* profile page */
.author .inner-tab, .page-id-60 .inner-tab {
  background-color: $pastel-yellow;
  border: 1px solid darken( $pastel-yellow, 50% );
}
/* portfolio page */
.page-id-233 .inner-tab {
  background-color: $pastel-blue;
  border: 1px solid darken( $pastel-blue, 50% );
}
/* posts page */
.posts-page .inner-tab, .post .inner-tab {
  background-color: $pastel-salmon;
  border: 1px solid darken( $pastel-salmon, 50% );
}
/* contact page */
.page-id-235 .inner-tab {
  background-color: $pastel-green;
  border: 1px solid darken( $pastel-green, 50% );
}
/* inner-tab layout */
.inner-tab {
  position: relative;
  overflow-y: hidden;
}
/* Paper-sheaf */
.paper-sheaf {
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url($paper);
  padding: 0 1rem;
  border: 1px solid lightgrey;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  max-width: 99%;
  max-height: 99%;
  height: 100%;
  position: relative;
  top: 5px;
  left: 3px;
  transform: rotate(-0.8deg);
}
.paper-stack {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  width: 99%;
  height: 99%;
  margin: auto;
  border: 1px solid lightgrey;
  transform: rotate(0.8deg);
  position: relative;
  bottom: 4px;
 }

.paper-stack:before, .paper-stack:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  z-index: -1;
  background: #fafafa;
}

.paper-stack:before {
  content: "";
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  left: -5px;
  top: 5px;
  transform: rotate(-1.4deg);
}

.paper-sheaf:after {
  content: "";
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  right: 5px;
  top: 2px;
  transform: rotate(1.6deg);
}

/* something for later. two column layout, not working without pagination
.post-content {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 10%;
  height: 100%;
  overflow: wrap;
  pre {
    overflow-x: hidden;
  }
}*/
/* 
* PORTRAIT STYLE 
*/
@media (orientation: portrait) {
  header .container { 
    margin: 0;
    width: 14vw;
    padding-left: 1.5vw;
    float: right;
    height: $portrait-folder-vh;
    border-radius: 0 10px 10px 0;
    right: 2vw;
  }
  .front-page, .pages, .posts-page, .post {
    max-height: $portrait-folder-vh;
    height: $portrait-folder-vh;
    max-width: $portrait-folder-vw;
    width: $portrait-folder-vw;   
    border-radius: 10px;
    margin: 2vh 0 2vh 2vw;
  }
  .pages, .posts-page, .post {
    border-right: 0px;
    border-radius: 0px;
  }
  .inner-tab {
    max-height: $portrait-folder-vh - 4vh;
    height: $portrait-folder-vh - 4vh; 
    max-width: $portrait-folder-vw;
    width: $portrait-folder-vw; 
    border-width: 1px 0px 1px 1px!important;
    margin: 2vh 0;
    padding: 2.2vh 2vh 0.5vh 1vh;
  }
}
/* 
LANDSCAPE STYLE 
*/
@media (orientation: landscape) {
  header .container {
    max-width: $landscape-folder-vw;
    width: $landscape-folder-vw;
    margin-top: 0vh;
    border-radius: 10px;
    top: 2vh;
  }
  .navigation {
    margin-bottom: 0;
  }
  ul.navigation {
  display: flex;
  height: 5rem;
}
  // justify-items: center;
    
  // & li {
  //   width: 100%;
  //   height: 5rem;
  //   font-size: 2em;
  // }
  .front-page, .pages, .posts-page, .post {
    max-width: $landscape-folder-vw;
    width: $landscape-folder-vw;
    max-height: $landscape-folder-vh;
    height: $landscape-folder-vh;
    border: $folder-border;
    border-radius: 10px 10px 0 0;
  }
  .pages, .posts-page, .post {
    border-top: 0px;
    border-radius: 0px;
  }
  .inner-tab {
    max-width: $landscape-folder-vw - 2vw;
    width: $landscape-folder-vw - 2vw;
    max-height: $landscape-folder-vh;
    height: $landscape-folder-vh;
    border-width: 0px 1px 1px 1px!important;
    margin: 0px auto;
    padding: 2.2vw 2vw 0.5vw 2vw;
    bottom: 2px;
  }
}
/* Nav Menu */
ul.navigation {
  list-style: none;
  padding: 0;
}
/* cards */
.card {
    #{&}-title {
    color: $phoenix-red;
    text-shadow: 1px 1px black;
    }
    #{&}-text {
    border: $normal-border;
    }
}
